.container-fluid {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  float: right;
  margin-top: 10px;
  margin-right: 20px;
  text-decoration: underline;
  font-size: 18px;
}
