
  <p id ="top">With a Poll App account you can create polls and submit them to your audience</p>
  
  <div id = "global"> 
  
	  <div class="container" id="left">
	  
		   <div class="signin">
				<h2>Already have an account?</h2>
				<form method="post" action="">
				  <p>
				  <input type="username" name="login" value="" placeholder="Username"  maxlength="14">
				  </p>
				  <p>
				  <input type="password" name="password" value="" placeholder="Password" maxlength="14">
				  </p>
				  <p class="remember_me">
					<label>
					 <label>
					  <input type="checkbox" name="remember_me" id="remember_me">
					  Remember me on this computer
					</label>
					</label>
				  </p>
				  <p class="submit"><input type="submit" name="commit" value="Sign In" style="background:#04B431 ;"></p>
				</form>
		  </div>
		 
		  <div class="login-help">
			<p>Forgot your password? <a href="#">Click here to reset it</a>.</p>
		  </div>
		  
	   </div>
	   <div id="separate_ligne" ></div>

	   <div class="container" id="right">
	   
			<div id="register" class="signup">
			    <h2> New user? </h2> 
				<form method="post" action="">
					<p> 
						<input id="usernamesignup" name="usernamesignup" required="required" type="username" placeholder="Username" maxlength="14" />
					</p>
					<p> 
						<input id="emailsignup" name="emailsignup" required="required" type="email" placeholder="Email" maxlength="14"/> 
					</p>
					<p> 
						<input id="passwordsignup" name="passwordsignup" required="required" type="password" placeholder="Password" maxlength="14"/>
					</p>
					<p> 
						<input id="passwordsignup_confirm" name="passwordsignup_confirm" required="required" type="password" placeholder="Repeat password" maxlength="14"/>
					</p>
					<p class="signin button"> 
						<input type="submit" value="Sign up" style="background:#0080FF;" /> 
					</p>
					
				</form>
				</div>
		</div>
  </div>

