<div class="intro">
  <p>With a Poll App account you can create polls and submit them to your audience</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="row">
        <h2>Already have an account ?</h2>
      </div>
      <div class="row">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon"><i class="fa fa-user"></i></div>
          <input [(ngModel)]="cred.username" type="text" class="form-control" id="login-username" placeholder="Username">
        </div>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon"><i class="fa fa-key"></i></div>
          <input [(ngModel)]="cred.password" type="password" class="form-control" id="login-password" placeholder="Password">
        </div>
        <div class="text-xs-center">
          <button (click)="lSubmit()" type="submit" class="btn btn-primary green">Sign In</button>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row">
        <h2>New user ?</h2>
      </div>
      <div class="row">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon"><i class="fa fa-user"></i></div>
          <input [(ngModel)]="rUser.username" type="text" class="form-control" id="register-username" placeholder="Username">
        </div>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
          <input [(ngModel)]="rUser.email" type="email" class="form-control" id="register-email" placeholder="Email">
        </div>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon"><i class="fa fa-key"></i></div>
          <input [(ngModel)]="rUser.password" type="password" class="form-control" id="register-password" placeholder="Password">
        </div>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon"><i class="fa fa-key"></i></div>
          <input type="password" class="form-control" id="register-repeat-password" placeholder="Repeat password">
        </div>
        <div class="text-xs-center">
          <button (click)="rSubmit()" type="button" class="btn btn-primary">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
  <p id ="top">With a Poll App account you can create polls and submit them to your audience</p>

  <div id = "global">

	  <div class="container" id="left">

		   <div class="signin">
				<h2>Already have an account?</h2>
				<form method="post" action="">
				  <p>
				  <input type="username" name="login" value="" placeholder="Username"  maxlength="14">
				  </p>
				  <p>
				  <input type="password" name="password" value="" placeholder="Password" maxlength="14">
				  </p>
				  <p class="remember_me">
					<label>
					 <label>
					  <input type="checkbox" name="remember_me" id="remember_me">
					  Remember me on this computer
					</label>
					</label>
				  </p>
				  <p class="submit"><input type="submit" name="commit" value="Sign In" style="background:#04B431 ;"></p>
				</form>
		  </div>

		  <div class="login-help">
			<p>Forgot your password? <a href="#">Click here to reset it</a>.</p>
		  </div>

	   </div>
	   <div id="separate_ligne" ></div>

	   <div class="container" id="right">

			<div id="register" class="signup">
			    <h2> New user? </h2>
				<form method="post" action="">
					<p>
						<input id="usernamesignup" name="usernamesignup" required="required" type="username" placeholder="Username" maxlength="14" />
					</p>
					<p>
						<input id="emailsignup" name="emailsignup" required="required" type="email" placeholder="Email" maxlength="14"/>
					</p>
					<p>
						<input id="passwordsignup" name="passwordsignup" required="required" type="password" placeholder="Password" maxlength="14"/>
					</p>
					<p>
						<input id="passwordsignup_confirm" name="passwordsignup_confirm" required="required" type="password" placeholder="Repeat password" maxlength="14"/>
					</p>
					<p class="signin button">
						<input type="submit" value="Sign up" style="background:#0080FF;" />
					</p>

				</form>
				</div>
		</div>
  </div>
-->
