body {
  background-color: #ecf0f1;
  color: #34495e;
}

main,
.site-wrapper,
.site-wrapper-inner {
  height: 100%;
}

.logo {
  background-image: url(../img/logo.svg);
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}

.app-header h2 {
  font-size: 15px;
}

.form-control,
.form-control:focus {
  color: #34495e;
}

#poll-id {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 460px;
}

#poll-id .digit {
  width: 80px;
  height: 80px;
}

#poll-id input.digit {
  font-weight: 600;
  font-size: 60px;
}

#poll-id button.digit {
  margin-left: 10px;
  font-size: 30px;
  background-color: #27ae60;
  border-color: #2a9e5a;
}

nav {
  position: fixed;
  top: 0;
}

#menu {
  position: fixed;
  top: 0;
  right: 0;
}

.btn.green {
  background-color: #4caf50;
  border-color: #2e7d32;
}

.btn.green:hover {
  background-color: #2e7d32;
}

.btn.round {
  border-radius: 30px;
  font-size: 32px;
  width: 40px;
  height: 40px;
  padding: 0;
}
