body {
  background-color: #ecf0f1;
  color: #34495e;
}

main,
.site-wrapper,
.site-wrapper-inner {
  height: 100%;
}

.logo {
  background-image: url(../img/logo.svg);
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}

.logo-annimated {
  background-image: url(../img/logo-animated.svg);
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
}

.app-header h2 {
  font-size: 15px;
}

.form-control,
.form-control:focus {
  color: #34495e;
}

#poll-id {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 460px;
}

#poll-id .digit {
  width: 80px;
  height: 80px;
}

#poll-id input.digit {
  font-weight: 600;
  font-size: 60px;
}

#poll-id button.digit {
  margin-left: 10px;
  font-size: 30px;
  background-color: #27ae60;
  border-color: #2a9e5a;
}

nav {
  position: fixed;
  top: 0;
}

#menu {
  position: fixed;
  top: 0;
  right: 0;
}

.btn.green {
  background-color: #4caf50;
  border-color: #2e7d32;
}

.btn.green:hover {
  background-color: #2e7d32;
}

.btn.red {
  background-color: #b71c1c;
  border-color: #8b1515;
}

.btn.red:hover {
  background-color: #8b1515;
}

.btn.round {
  border-radius: 30px;
  font-size: 32px;
  width: 40px;
  height: 40px;
  padding: 0;
}

/* Checkbox and radiobutton */
.checkbox label {
  display: inline-block;
  position: absolute;;
  margin-bottom: -8px;
}

.checkbox label::before {
  content: "";
  display: none;
  position: absolute;
  width: 25px;
  height: 25px;
  left: 0;
  margin-left: -20px;
}

.checkbox label::after {
  font-family: 'FontAwesome';
  content: "\f00c";
  display: inline-block;
  position: absolute;
  width: 25px;
  height: 25px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 25px;
  color: #ccc;
}
.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
  opacity: 0;
  z-index: 1;
  cursor: pointer;
  display: none;
}

.checkbox input[type="checkbox"]:checked + label::after,
.checkbox input[type="radio"]:checked + label::after {
  color: #003748;
}

.checkbox input[type="checkbox"]:disabled,
.checkbox input[type="radio"]:disabled {
  cursor: not-allowed;
}
.checkbox input[type="checkbox"]:disabled + label,
.checkbox input[type="radio"]:disabled + label {
  opacity: 0.65;
}

.radio {
  padding-left: 20px;
}
.radio label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}
.radio label::before {
  content: "";
  display: none;
  position: absolute;
  width: 25px;
  height: 25px;
  left: 0;
  margin-left: -20px;
}
.radio label::after {
  font-family: 'FontAwesome';
  content: "\f00c";
  display: inline-block;
  position: absolute;
  content: " ";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  font-size: 25px;
  color: #ccc;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #555555;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.radio input[type="radio"] {
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.radio input[type="radio"]:checked + label::after {
  color: #003748;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
.radio input[type="radio"]:disabled {
  cursor: not-allowed;
}
.radio input[type="radio"]:disabled + label {
  opacity: 0.65;
}

.radio.radio-inline {
  margin-top: 0;
}

input[type="checkbox"].styled + label:after,
input[type="radio"].styled+ label:after {
  font-family: 'FontAwesome';
  content: "\f00c";
}

input[type="checkbox"] .styled:checked + label::after,
input[type="radio"] .styled:checked + label::after {
  color: #003748;
}
