<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-xs-1 hidable">
      <div class="logo"></div>
    </div>
    <div class="col-xs-2">
      <i class="fa fa-link"></i>
      <p>HIJK</p>
    </div>
    <div class="col-xs-2 hidable">
      <i class="fa fa-users"></i>
      <p>18</p>
    </div>
    <div class="col-xs-2 hidable">
      <i class="fa fa-clock-o"></i>
      <p>01:56</p>
    </div>
    <div class="col-xs-5">
      <button type="button" class="btn green btn-primary">Start room</button>
    </div>
  </div>
</div>
