<div class="container">
<div class = "top">
	<div class="col-sm-4 dropdown">
	  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Answer Delay
	  <span class="caret"></span></button>
	  <ul class="dropdown-menu">
		<li class="active"><a href="#">15 s</a></li>
		<li class="disabled"><a href="#">30 s</a></li>
		<li class="disabled"><a href="#">1 min</a></li>
		<li class="disabled"><a href="#">1 min 30 s</a></li>
	  </ul>
	</div>
	
	<div class ="col-sm-4 bn-submit">
		<button type="button" class=" btn btn-success">Submit</button>
	</div>
</div>

  <div class="row-fluid">
    <p class="question">What are we doing during this course ?</p>
    <div class="answers">
      <table>
        <tbody>
          <tr>
            <td>Drinking beer</td>
          </tr>
          <tr>
            <td>Nothing</td>
          </tr>
          <tr>
            <td>Making webapps</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <button type="button" class="btn green round btn-primary">+</button>
</div>
