<div class="container-fluid" *ngIf="question">
	<div class = "top">
		<div class="col-sm-6"></div>
			<div class="col-sm-6">
			<div class="dropdown" dropdown>
			  <button id="btn btn-primary dropdown-toggle" type="button" class="btn green btn-primary" dropdownToggle>
			    Submit<span class="caret"></span>
			  </button>
			  <ul dropdownMenu role="menu" aria-labelledby="single-button">
					<li role="menuitem"><a class="dropdown-item" disabled>with an answer delay of</a></li>
					<li class="divider dropdown-divider"></li>
			    <li role="menuitem"><a (click)="submit(15)" class="dropdown-item">15 s</a></li>
			    <li role="menuitem"><a (click)="submit(30)" class="dropdown-item">30 s</a></li>
			    <li role="menuitem"><a (click)="submit(60)" class="dropdown-item">1 min</a></li>
			    <li role="menuitem"><a (click)="submit(90)" class="dropdown-item">1 min 30 s</a></li>
			  </ul>
			</div>
		</div>
	</div>

  <div class="row-fluid">
    <p class="question">{{question.question}}</p>
    <div class="answers">
      <table>
        <tbody>
          <tr *ngFor="let answer of question.answers; let i = index">
            <td>{{answer.answer}}</td>
						<td class="controls">
							<div class="checkbox">
								<input id="correct" type="checkbox" value="" [(ngModel)]="answer.isCorrect">
								<label for="correct" tooltip="Set this as the right answer" placement="bottom"></label>
							</div>
							<i class="fa fa-trash" tooltip="Delete" placement="bottom"></i>
						</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <button type="button" class="btn green round btn-primary" tooltip="Add an answer" placement="bottom">+</button>
</div>
