
<div class="timmer">
  <div class="progress" [style.width]="percent + '%'" [style.background-color]="percent_color"></div>
  <p>{{time_left}} s</p>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <p class="question">What are we doing during this course ?</p>
    <div class="answers">
      <table>
        <tbody>
          <tr>
            <td>Drinking beer</td>
          </tr>
          <tr>
            <td>Nothing</td>
          </tr>
          <tr>
            <td>Making webapps</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
