.container-fluid {
  background-color: #fbfafa;
  padding: 0;
  min-height: 100%;
}

.list-group-item {
  height: 60px;
  padding-top: 17px;
  color: #003748;
  border-right: 0;
  border-bottom: 1px solid #ccc;
}

[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}

.list-group-item:hover {
  background-color: #e3f2fd;
}

.list-group-item.selected,
.list-group-item.selected:hover {
  background-color: #dcedc8;
}

.list-group-item:first-child,
.list-group-item:last-child {
  border-radius: 0;
}

.btn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: block;
  margin-bottom: 20px;
}

.badge-default {
  background-color: #cccccc;
}
.badge-pill {
  padding-right: .6em;
  padding-left: .6em;
  padding-top: .3em;
  padding-bottom: .3em;
  border-radius: 10rem;
}
.badge {
  display: inline-block;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}

.fa-caret-right {
  color: #cccccc;
  font-size: 24px;
  float: right;
}

.fa-caret-left {
  color: #cccccc;
  font-size: 24px;
  float: left;
}

.back p {
  margin-left: 20px;
}

.actions {
  margin-right: 10px;
  float: right;
  color: #757575;
  display: none;
}

.actions i {
  margin-right: 5px;
}

.editing-action {
  float: right;
  display: none;
  color: #fff;
}

.list-group-item:hover .actions {
  display: inline-block;
}

.list-group-item.editing:hover .actions,
.list-group-item.editing .badge,
.list-group-item.editing .fa-caret-right  {
  display: none;
}

.list-group-item.editing {
  background-color: #2196f3;
  color: #fff;
}

.list-group-item.editing .editing-action {
  display: inline;
}

.list-group-item:hover .fa-trash:hover {
  color: #b71c1c;
}

.list-group-item:hover .fa-pencil:hover {
  color: #2196f3;
}
