<div class="container-fluid">
  <div class="row-fluid">
    <div class="app-header">
    <div class="logo"></div>
      <h1 class="text-xs-center">Poll App</h1>
      <h2 class="text-xs-center">Interactive polls for audience</h2>
    </div>

    <form class="form-inline" id="poll-id">
      <p>Enter poll ID</p>
      <div class="form-group">
        <input #d1 (keydown)="clear($event)" (keyup)="switch($event, null, d2)" type="text" maxlength="1" class="form-control text-xs-center text-uppercase digit" id="id-d1">
        <span>-</span>
        <input #d2 (keydown)="clear($event)" (keyup)="switch($event, d1, d3)" type="text" maxlength="1" class="form-control text-xs-center text-uppercase digit" id="id-d2">
        <span>-</span>
        <input #d3 (keydown)="clear($event)" (keyup)="switch($event, d2, d4)" type="text" maxlength="1" class="form-control text-xs-center text-uppercase digit" id="id-d3">
        <span>-</span>
        <input #d4 (keydown)="clear($event)" (keyup)="switch($event, d3, null)" type="text" maxlength="1" class="form-control text-xs-center text-uppercase digit" id="id-d4">
        <button type="submit" class="btn btn-primary digit"><i class="fa fa-arrow-right"></i></button>
      </div>
    </form>
  </div>
</div>
