
<div class="container">
  <h2>Results</h2>
  <p class="question">What are we doing during this course ?</p>
  <div class="answers">
    <table>
      <tbody>
        <tr>
          <td> 
		    <div class="progress">
				<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
				60% Drinking beer
				</div>
			</div>
			</td>
        </tr>
        <tr>
          <td> 
		    <div class="progress">
				<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
				60% Drinking beer
				</div>
			</div>
		   </td>
        </tr>
        <tr>
          <td> 
		    <div class="progress">
				<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
				60% Drinking beer
				</div>
			</div>
		   </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
