
<div class="container">
  <h2>Results</h2>
  <p class="question">What are we doing during this course ?</p>
  <div class="answers">
    <table>
      <tbody>
        <tr>
          <td> 
		    <div id="prog-bar" class="progress">
			     <div class="progress-bar"></div>
		    </div>Drinking beer</td>
        </tr>
        <tr>
          <td><div id="prog-bar" class="progress">
			     <div class="progress-bar"></div>
		    </div>Nothing</td>
        </tr>
        <tr>
          <td><div id="prog-bar" class="progress">
			     <div class="progress-bar"></div>
		    </div>Making webapps</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
