/*styles for question content only*/

.container {
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 60px;
}
h2{
  font-size: 30px;
  font-weight:bold;
  text-align: center;
}

p.question{
  font-size: 28px;
  text-align: center;
}

.answers {
  background-color: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 30px;
}

table {
  width: 100%;
}

tr {
  height: 65px;
  border-bottom: 1px solid #cfd8dc;
}

tr:hover {
  background-color: #e3f2fd;
}

td {
  font-weight: normal;
  font-size: 18px;
  padding-left: 30px;
  padding-right: 30px;
}

tr:last-child {
  border-bottom: 0px;
}

.progress {
  width: 100%;
  height: 30px;
  background-color: #CECECE;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.progress-bar {
  transition: width 0.5s linear;
  height: 100%;
  background-color: #CECECE;
  border-radius: 4px;
}